[init]
	defaultBranch = main
[user]
	name = Rignchen
	email = rinchendemort@gmail.com
	signingkey = ~/.ssh/id_ed25519
[alias]
	get-url = !git remote get-url $(git config branch.$(git name-rev --name-only HEAD).remote) | sed 's/^git@github.com:/https:\\/\\/github.com\\//'
	last = log -1 HEAD
	undo = reset HEAD~1
	graph = log --all --graph --decorate --oneline
	current-branch = branch --show-current
	s = status -s
	sh = stash
	sync = !git stash && git pull && git push && git stash pop
	a = add . --patch
[pull]
	rebase = false
[gpg]
	format = ssh
[push]
	autoSetupRemote = true
