[init]
	defaultBranch = main
[user]
	name = Rignchen
	email = rinchendemort@gmail.com
	signingkey = ~/.ssh/id_ed25519
[alias]
	get-url = !git remote get-url origin | sed 's/^git@github.com:/https:\\/\\/github.com\\//'
	last = log -1 HEAD
	undo = reset HEAD~1
	graph = log --all --graph --decorate --oneline
        current-branch = branch --show-current
[pull]
	rebase = false
[gpg]
	format = ssh
[push]
	autoSetupRemote = true
